*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

/* :root {
  --main-color: rgb(192, 120, 4);
  --card-background-gradient: linear-gradient(324deg, rgb(124, 98, 50) 0%, rgba(224, 211, 175, 1) 100%);
  --card-background: rgb(168, 168, 168);
  --btn-hover: rgb(231, 143, 0);
} */

body {
  font-family: 'Almendra', 'Arial';

  line-height: 1.5;

  background-color: white;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
  /* Remove underline */
  color: inherit;
  /* Remove blue color, inherit from parent */
}